*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

a{                      /* permet de modifier les éléments de la balise a*/
    color:black;
    text-decoration: none;
    font-size: 1.1rem;
}
a:hover{            /*  losrque je passe sur le curseur sur l'élément, il devient rouge*/
    color:red;   
}
body{
    height: 100%;
    width: 100%;
    background: lightgray;
}

.myheader{
    background:lightblue ;  /* permet de changer la couleur de fond de mon header*/
    color: black;           /* permet de changer la couleur des éléments de mon header*/
    font-size: 1.5rem;         /* permet de changer la taille des éléments de mon header*/
}
nav{
    display: flex;              /* permet d'aligner les éléments les uns à côté des autres*/
    min-height: 10vh;
    align-items: center;        /* permet de centrer les éléments de façon verticale*/
    width: 90%;
    padding: 2rem;
   
}
nav ul{
    display: flex;
    flex: 1 1 30rem;
    justify-content: space-around;         /* permet de mettre un espace autour des éléments*/
    align-items: center;
    list-style: none;                      /* permet d'enlever les puces devant les éléments de la liste*/
}
#logo{
    width: 65%;
}

footer {
    
    justify-content: center;
    padding: 5px;
    background-color:lightblue;
    color:black;
   
}
footer p{
    justify-content: center;
    text-align: center;
}
footer ul{
    list-style: none;
}


